.cabinet {
  padding: 60px 0px;
  &__container {
  }


}

.admin-cabinet {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include sm {
      display: block;
      overflow-x: scroll;
    }
    thead {
      tr {
        border-top: 2px solid #ffe26e;
      }
    }

    tbody {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      tr {
        border-top: 1px solid #ffe26e;
      }
      tr:last-child {
        border-bottom: 1px solid #ffe26e;
      }
      @include sm {
        display: inline-table;
      }
    }

    tr {
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
    th {
      color: #ffe26e;
    }
    th:first-child {
      min-width: 80px;
      text-align: start;
    }
    th:not(:first-child) {
      min-width: 160px;
      text-align: start;
    }
    td:first-child {
      min-width: 80px;
      text-align: start;
    }
    td:not(:first-child) {
      min-width: 160px;
      font-size: 16px;
      overflow: hidden;
      word-wrap: break-word;

      width: 160px;
    }
  }

  &__button-delete {
    background: none;
    font-size: 14px;
    color: #ffe26e;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &__button-edit {
    background: none;
    font-size: 14px;
    color: #ffe26e;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .form-cabinet {
    width: 100%;
    flex-direction: unset;
    align-items: center;
    display: none;
    @include sm {
      flex-direction: column;
    }
    &.block {
      display: flex;
    }

  }
  .form__group-box {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form__picture {
    flex: 0 1 30%;

    max-width: 200px;
    img {
      max-width: 100%;
    }
  }


}


