.collection {
  padding: 100px 0px 60px 0px;
  position: relative;
  @include lg {
    padding: 70px 0px 30px 0px;
  }
  @include sm {
    padding: 50px 0px 30px 0px;
  }
  @include xs {
    padding: 80px 0px 30px 0px;
  }
  &__top {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      padding: 5px;
      border-radius: 10px;
      transform: translate(-50%, 0);
    }
    @include lg {
      display: none;
    }
  }

  &__title {
    position: relative;
  }

  &__body {
    padding: 30px 0px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    @media (max-width: 1240px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      padding: 60px 0px 0px 0px;
      grid-template-columns: repeat(2, 0fr);
      justify-content: center;
      gap: 15px;
    }

    @include sm {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      padding: 60px 0px 30px 0px;
    }

    @include xs {
      padding: 0px;
    }
  }

  &__column {
    overflow: hidden;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    &:hover {
      @media (min-width: 991.98px) {
        border: 1px solid #ffd52d;
        box-shadow: 0px 1px 14px rgba(255, 213, 45, 0.7);
      }

      .collection__poster {
        @media (min-width: 991.98px) {
          transform: scale(1.02);
        }
      }
      .collection__about {
        @media (min-width: 991.98px) {
          background-color: #ffd52d;
        }
      }

      @media (min-width: 991.98px) {
        .collection__name {
          color: #303030;
        }
      }
    }

    @include sm {
      flex-basis: calc(50% - 20px);
    }
  }

  &__picture {
    width: 100%;
    height: 350px; /* Фіксовані розміри */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Додаємо overflow: hidden, щоб обрізати зайвий контент */
    @media (max-width: 1240px) {
    }
    @include sm {
      height: 100%;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: 0.3s;
  }

  &__about {
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    background-color: #ffd52d;
    transition: 0.3s ease;
    display: block;
    background-color: rgb(60 60 60 / 60%);
    @include sm {
      background-color: transparent;
    }

    .collection__name {
      word-wrap: break-word;
      line-height: 1.2;
      transition: 0.3s ease;
      color: #ffd52d;
      @media (min-width: 991.98px) {
        font-size: 20px;

        &:active {
          transform: translateY(2px);
        }
      }
      @media (width < 467px) {
        font-size: 16px;
      }
    }
  }
}

.pagination {
  margin-top: 50px;
  position: relative;
  @include lg {
    margin-top: 30px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

#page-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  button {
    width: 50px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    transition: 0.3s;
    &:hover {
      @media (min-width: 767px) {
        background-color: #ffd52d;
      }
    }
  }
  .active {
    background-color: #ffd52d;
    color: #303030;
  }
  @include sm {
    display: none;
  }
}

#btn_prev {
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  position: relative;
  color: #303030;
  z-index: 1;
  min-height: 40px;
  width: 100px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffd52d;
    padding: 5px;
    z-index: -1;
    border-radius: 2px;
    // transition: 0.3s;
  }
}

#btn_prev:hover::before {
  background-color: #ffe26e;
}

#btn_next {
  width: 100px;
  text-align: center;

  padding: 5px 10px;
  display: inline-block;
  position: relative;
  color: #303030;
  z-index: 1;
  min-height: 40px;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffd52d;
    padding: 5px;
    z-index: -1;
    border-radius: 2px;
  }
}

#btn_next:hover::before {
  background-color: #ffe26e;
}
