.collection {
  padding: 60px 0px;
  position: relative;

  &__body {
    padding: 30px 0px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    @media (max-width: 1240px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }

  &__column {
    padding: 0px 0px 10px 0px;
    gap: 10px;
    overflow: hidden;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    &:hover {
      .collection__poster {
        transform: scale(1.02);
      }
    }
    @include sm {
      width: 80%;
    }
  }

  &__picture {
    width: 100%;
    height: 350px; /* Фіксовані розміри */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Додаємо overflow: hidden, щоб обрізати зайвий контент */
    @include sm {
      height: 100%;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: 0.3s;
    @include sm {
      // width: 100%;
    }
  }

  &__about {
    text-align: center;
    h2 {
      font-size: 20px;
      color: #ffd52d;
      &:active {
        transform: translateY(2px);
      }
      &:hover {
        color: #ffe26e;
      }
    }
  }
}

.collection__column {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(60 60 60 / 60%);
    padding: 5px;
    z-index: -1;
    border-radius: 10px;
    transition: 0.3s;
  }
}

.collection__column:hover::before {
  background-color: rgb(211 210 205 / 39%);
}
