// scroll burger off

//body lock
._lock {
  overflow: hidden;
}

// global container

[class*="__container"] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

// links

.link {
  color: #ffd52d;
  transition: 0.2s ease;
  cursor: pointer;
  &.link-add {
    font-size: 30px;
    justify-content: center;
    @include xs {
      font-size: 20px;
    }
  }
  &:hover {
    color: #ffe26e;
  }
  @media (min-width: 767px) {
    &:active {
      transform: translateY(2px);
    }
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  font-size: 18px;
  transition: 0.2s ease;
  font-family: inherit;
  &:hover {
    background-color: #ffd52d;
    border: 1px solid #ffd52d;
    color: #1a1a1a;
  }
  @media (min-width: 767px) {
    &:active {
      transform: translateY(2px);
    }
  }
}

// h1 title

.top {
  text-align: center;

  &__title {
    font-size: 45px;
    @include lg {
      font-size: 40px;
    }

    @include md {
      font-size: 35px;
    }

    @include xs {
      font-size: 30px;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.background {
  position: fixed;
  transition: 0.3s;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.background-details {
    position: fixed;
    opacity: 0.2;
    @include sm {
      display: none;
    }
  }

  &.background-collection {
    position: fixed;
    z-index: 0;
    @include sm {
      display: none;
    }
  }
  @include lg {
    opacity: 0.3;
  }
  @include sm {
    display: none;
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.empty {
  font-size: 45px;
  @include lg {
    font-size: 40px;
  }

  @include md {
    font-size: 35x;
  }

  @include sm {
    font-size: 30x;
  }
  @include xs {
    font-size: 25x;
  }
}
.empty:not(:last-child) {
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
