.home {
  position: relative;
  padding: 60px 0px;
  &__container {
    @include sm {
      margin-top: 100px;
    }
  }
  &__container-auth {
    max-width: 100%;
  }

  &__body {
    &.body-first {
      padding: 5px;
      border-radius: 10px;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(48 48 48 / 83%);
        padding: 5px;
        border-radius: 10px;
        filter: blur(12px);
      }
    }
  }

  &__nonAuth {
    text-align: center;
    font-size: 30px;
    position: relative;
    filter: none;
    @include lg {
      font-size: 25px;
    }
    @include sm {
      font-size: 20px;
    }
    @include xs {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  .collection__column {
    z-index: 4;
    @include sm {
      width: 100%;
    }
  }



  .swiper-slide {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      background-color: rgb(60 60 60 / 27%);
      padding: 5px;
      border-radius: 10px;
      transition: 0.3s;
    }
  }

  .swiper-slide:hover::before {
    background-color: rgb(60 60 60 / 75%);
  }
}
